body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00070e;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

* {
    -webkit-tap-highlight-color: transparent;
}

#game-display {
    display: none;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#game {
    touch-action: none;
    grid-area: 1 / 1;
    justify-self: center;
    align-self: center;
    image-rendering: pixelated;
    background-image: url(imgs/backGround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#draw {
    grid-area: 1 / 1;
    justify-self: center;
    align-self: center;
    pointer-events: none;
}

.mute-btn {
    grid-area: 1 / 1;
    color: #ffb300;
    font-size: 25px;
    margin-right: -89%;
    margin-bottom: -44%;
}

#round-display {
    position: absolute;
    color: red;
    font-size: 90px;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    transition: 1s;
    opacity: 0;
    pointer-events: none;
}

#tutorial {
    grid-area: 1 / 1;
    justify-self: center;
    align-self: center;
    color: #ffb300;
    font-size: 25px;
    text-align: center;
    background: #00000078;
    padding: 10px 0;
    border-radius: 15px;
    margin: 0;
    opacity: 0;
    transition: 1.5s;
    pointer-events: none;
    margin-top: -35%;
}

#hand-finger {
    grid-area: 1 / 1;
    justify-self: center;
    align-self: center;
    color: #ffb300;
    font-size: 53px;
    margin-left: -60%;
    transition: 1.5s;
    opacity: 0;
    animation: fingerX 1.2s linear 0s infinite alternate;
}

@keyframes fingerX {
    from {
        margin-left: -75%;
    }
    to {
        margin-left: -60%;
    }
}

@keyframes fingerY {
    from {
        margin-top: -7%;
    }
    to {
        margin-top: 8%;
    }
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.game-name {
    font-weight: 600;
    color: red;
    font-size: 30px;
    margin: 0 0 40px 0;
}

.start-button {
    border: none;
    width: 100px;
    height: 100px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(90deg);
    cursor: pointer;
}

.start-button p {
    transform: rotate(-90deg);
    margin: 0;
    margin-top: 29px;
    font-size: 25px;
}

#highest-score {
    display: none;
    color: red;
    font-size: 20px;
    letter-spacing: 1px;
}

.telegram {
    font-size: 40px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #37abc7;
}

@media (max-width: 625px) {
    #game-display {
        transform: rotate(90deg);
        transform-origin: center;
    }

    #menu {
        transform: rotate(90deg);
    }

    #tutorial {
        width: 440px;
    }
}
